/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  /*If u use firefox, you can comment this line, 
  if u use chrome, leave it the same.*/
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: white;
  font-family: "Raleway", sans-serif;
}

:root {
  font-size: 16px;
  --celeste: #00ffff;
  --gradient: linear-gradient(
    90deg,
    #00ffff 35%,
    rgb(105, 48, 236),
    rgb(90, 22, 145)
  );
}

/*HEADER*/
header {
  background: transparent;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 999;
}
.logo_wrapper {
  display: block;
  height: 100px;
  width: 20%;
  margin: 0 50px;
}
header a img {
  width: 100px;
  height: 100px;
  margin: 0 35px;
  transition-duration: 0.6s;
}
header a img:hover {
  scale: 1.25;
  filter: drop-shadow(1px 1px 2.5px #00ffff);
}
.abajo {
  background: rgba(0, 0, 0, 0.719);
  transition-duration: 1500ms;
}

/*NAV*/
nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 50px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav li {
  padding: 0px 20px 0 20px;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  display: inline-block;
  position: relative;
  transition-duration: 0.35s;
}
nav a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  right: 0;
  background-color: #00ffff;
  border-radius: 50px;
  box-shadow: 0px 0px 5px #00ffff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}
.link:hover {
  text-shadow: 1px 0 10px #00ffff;
}
nav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*SECTION/(SECTION_1)*/
.section_1 {
  background-image: url(../images/section_1_fondo.webp);
  background-size: cover;
  height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_1 h1 {
  text-shadow: 5px 5px 20px black;
  font-size: 5rem;
  font-weight: 400;
  width: 800px;
  margin: -225px 0 35px 0;
}
.section_1 h1 span {
  background: white;
  background: var(--gradient);
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  background-clip: text;
  text-shadow: 2px 2px 30px #00ffff44;
}
.section_1 article {
  width: 50%;
}
.section_1 p {
  text-align: left;
  color: #00fff2;
  text-shadow: 5px 5px 25px #0acab0;
  font-size: 1.5rem;
  font-family: Poppins;
  width: 45ch;
}
.section_1 img {
  width: 550px;
  height: auto;
  margin: -225px 0 0;
  filter: drop-shadow(2px 2px 15px #01ceef);
  transition-duration: 1s;
}
.section_1 img:hover {
  filter: drop-shadow(2px 2px 50px #01ceef);
  transform: rotate3d(-0.5, 1, 0.3, 50deg);
}

/*SECTION/(SECTION_2)*/
.section_2 {
  background: linear-gradient(180deg, rgb(2, 12, 39), rgb(6, 5, 10));
  height: 100vh;
  padding: 200px 0 100px 0;
  display: grid;
  grid-template-columns: auto auto auto;
}
.section_2 h3 {
  position: absolute;
  font-size: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nft {
  position: relative;
  user-select: none;
  max-width: 280px;
  margin: auto;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(17, 0, 32, 0.5) 100%
  );
  box-shadow: 0 0 10px #02eff8;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  ins {
    text-decoration: none;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    .tokenImage {
      border-radius: 0.5rem;
      max-width: 100%;
      height: 250px;
      padding: 20px;
    }
    #imagen_token {
      height: 233px;
      width: 198px;
    }
    .description {
      margin: 0.5rem 0;
      color: #a89ec9;
    }
    .tokenInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price {
        display: flex;
        align-items: center;
        color: #ee83e5;
        font-weight: 700;
        ins {
          margin-left: -0.3rem;
          margin-right: 0.5rem;
        }
      }
      .duration {
        display: flex;
        align-items: center;
        color: #a89ec9;
        margin-right: 0.2rem;
        ins {
          margin: 0.5rem;
          margin-bottom: 0.4rem;
        }
      }
    }
    .creator {
      display: flex;
      align-items: center;
      margin-top: 0.2rem;
      margin-bottom: -0.3rem;
      ins {
        color: #a89ec9;
        text-decoration: none;
      }
      .wrapper {
        display: flex;
        align-items: center;
        border: 1px solid #ffffff22;
        padding: 0.3rem;
        margin: 0;
        margin-right: 0.5rem;
        border-radius: 100%;
        box-shadow: inset 0 0 0 4px #000000aa;
        img {
          border-radius: 100%;
          border: 1px solid #ffffff22;
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }
  ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  &:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #1b6468d3;
    transform: scale(1.015);
    filter: brightness(1);
    ::before {
      filter: brightness(0.5);
      top: -100%;
      left: 200%;
    }
  }
}

/*SECTION/(SECTION_3)*/
.section_3 {
  background-image: url(../images/section_3_fondo.webp);
  background-size: cover;
  height: 135vh;
}
.texto_h3_1 {
  text-align: left;
  margin: 0 250px 0;
  text-shadow: 0 0 50px #3aabec;
  font-size: 2rem;
  letter-spacing: 1.57px;
  text-wrap: nowrap;
}
.texto_h3_2 {
  color: transparent;
  font-size: 2rem;
  text-shadow: 0 0 50px #3aabec;
}
.section_3_1 {
  padding: 150px 0 0 0;
  padding: 0 0 0 0;
}
.section_3_1 img {
  margin: 40px 29px 0;
  padding: 0 0 10px;
  width: 70%;
}
.section_3_5 img {
  margin: 0 60px 0;
  padding: 20px 0 30px 0;
  width: 40%;
}
.section_3_6 img {
  margin: 0 65px 0;
  padding: 0 0 10px 0;
  width: 35%;
}
.section_3_7 img {
  margin: 0 -25px 0;
  padding: 0 40px 10px 40px;
  width: 140%;
}
.section_3_8 img {
  margin: 65px 0 0;
  padding: 0 40px 73px 40px;
  width: 110%;
}
.images img:hover {
  scale: 0.9;
}
.images img {
  transition-duration: 0.5s;
}
.section_3_1_img {
  width: 150px;
  filter: invert(1);
}
.section_3_2_img {
  width: 150px;
}
.section_3_5_img {
  width: 100px;
}
.section_3_7_img {
  width: 165px;
}
.images {
  margin: 80px 0 0 250px;
  width: 800px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  border-radius: 50px;
  filter: drop-shadow(0 0 10px rgb(40, 128, 199));
  box-shadow: 0 0 90px rgb(20, 83, 134);
  align-items: center;
  justify-content: center;
}

/*FOOTER*/
footer {
  height: 200px;
  position: relative;
  background: black;
}
footer section {
  position: absolute;
  margin-top: 74px;
  margin-left: 7%;
  font-size: 105%;
  max-width: 9%;
}
footer div {
  text-align: center;
}
footer div .footer_imagen_1 {
  position: relative;
  width: 107.5px;
  height: 90.5px;
  top: 65px;
  filter: drop-shadow(5px 5px 10px #000);
}
#redes {
  display: none;
}
footer button {
  position: absolute;
  background: radial-gradient(
    circle at 4.55% -4.17%,
    #00ffff 0,
    #00ffff 25%,
    #3cb5f2 50%,
    #3f7aa2 75%,
    #31495e 100%
  );
  /*background: #4784c6;*/
  margin-left: 84.5%;
  top: 80px;
  width: 8%;
  height: 25%;
  font-size: 17px;
  font-weight: 600;
  color: black;
  border: 0px solid black;
  border-radius: 15px;
  box-shadow: 0 0 0 #00ffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
footer button p {
  color: black;
  font-weight: 500;
}
footer .div_1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #00ffff);
  z-index: -5;
  transition: all 0.35s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}
footer button .div_1 img {
  width: 25px;
  height: 25px;
}
footer .div_2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #00ffff);
  z-index: -5;
  transition: all 0.35s cubic-bezier(0, 0.4, 0, 1.01);
}
footer .div_3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #00ffff);
  z-index: -5;
  transition: all 0.35s cubic-bezier(0, 0.4, 0, 1.01);
}
footer .div_4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #00ffff);
  z-index: -5;
  transition: all 0.35s cubic-bezier(0, 0.4, 0, 1.01);
}
footer .div_5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #00ffff);
  z-index: -5;
  transition: all 0.35s cubic-bezier(0, 0.4, 0, 1.01);
}
footer .div_6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #00ffff);
  z-index: -5;
  transition: all 0.35s cubic-bezier(0, 0.4, 0, 1.01);
}
footer button:hover {
  background: transparent;
  box-shadow: 0 0 25px #00ffff;
  border-radius: 25px;
}
footer button:hover p {
  color: white;
  font-weight: 600;
}
footer button:hover .div_1 {
  position: absolute;
  top: -55%;
  left: -10%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #00ffff);
  z-index: 2;
}
footer button:hover .div_1 img {
  width: 25px;
  height: 25px;
  background: #00ffff, url(../images/discord.webp);
}
footer button:hover .div_2 {
  position: absolute;
  top: -67.5%;
  left: 40%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #00ffff);
  z-index: 2;
}
footer button:hover .div_2 img {
  width: 25px;
  height: 25px;
  background: #00ffff, url(../images/facebook.webp);
}
footer button:hover .div_3 {
  position: absolute;
  top: 100%;
  left: -10%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #00ffff);
  z-index: 2;
}
footer button:hover .div_3 img {
  width: 25px;
  height: 25px;
  background: #00ffff, url(../images/messenger.webp);
}
footer button:hover .div_4 {
  position: absolute;
  top: -55%;
  left: 95%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #00ffff);
  z-index: 2;
}
footer button:hover .div_4 img {
  width: 25px;
  height: 25px;
  background: #00ffff, url(../images/whatsapp.webp);
}
footer button:hover .div_5 {
  position: absolute;
  top: 100%;
  left: 95%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #00ffff);
  z-index: 2;
}
footer button:hover .div_5 img {
  width: 25px;
  height: 25px;
  background: #00ffff, url(../images/instagram.webp);
}
footer button:hover .div_6 {
  position: absolute;
  top: 117.5%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #00ffff);
  z-index: 2;
}
footer button:hover .div_6 img {
  width: 25px;
  height: 25px;
  background: #00ffff, url(../images/twitter.webp);
}
#p2 {
  display: none;
}

/*RESPONSIVE*/

/*NAV*/
@media screen and (min-width: 700px) {
  .logo_wrapper {
    margin-left: 140px;
    transition-duration: 1s;
  }
}
@media screen and (max-width: 700px) {
  .logo_wrapper {
    margin-left: 25px;
    transition-duration: 1s;
  }
}

/*SECTION_1*/
@media screen and (max-width: 1350px) {
  .section_1 {
    flex-direction: column;
  }
  .section_1 h1 {
    transition-duration: 1s;
  }
  .section_1 p {
    transition-duration: 1s;
  }
  .section_1 img {
    margin-top: 80px;
    margin-right: 25px;
    width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  .section_1 h1 {
    margin-top: -200px;
    font-size: 50px;
    width: 15ch;
  }
  .section_1 p {
    font-size: 20px;
    width: 35ch;
  }
}
@media screen and (max-width: 700px) {
  .section_1 h1 {
    font-size: 35px;
    width: 12.5ch;
    margin-left: -20px;
  }
  .section_1 p {
    margin-left: -20px;
    font-size: 20px;
    width: 23ch;
  }
}

/*SECTION_2*/
@media screen and (max-width: 1100px) {
  .section_2 {
    padding: 200px 0 100px 0;
    grid-template-columns: auto;
    height: 200vh;
  }
}

/*SECTION_3*/
@media screen and (max-width: 1115px) {
  .texto_h3_1 {
    display: none;
    text-wrap: nowrap;
    overflow: hidden;
  }
  .texto_h3_2 {
    color: white;
    text-align: center;
  }
  .images {
    grid-template-columns: auto auto;
    width: 300px;
    margin-left: 12%;
    align-items: center;
    height: 48%;
  }
  .images img {
    padding-top: 20px;
    margin-top: 20px;
  }
  .section_3_7 {
    margin-top: -70px;
  }
}

/*MENÚ_HAMBURGUESA*/
header div.contenedor {
  place-content: flex-start;
}
header div.contenedor nav {
  width: 70%;
  display: flex;
  place-content: space-between;
}
#menu,
#menu-check {
  display: none;
}
.bars__menu {
  width: 20px;
  height: 30px;
  position: absolute;
  border-radius: 20px;
  margin-top: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  cursor: pointer;
}
.bars__menu span {
  display: block;
  width: 100%;
  height: 1.5px;
  background: white;
  margin-top: 6px;
  transition: all 400ms;
  transform-origin: 0px 100%;
  border-radius: 20px;
}
.activateline1__bars-menu {
  transform: rotate(45deg) translate(0px, 1px);
}
.activateline2__bars-menu {
  opacity: 0;
  margin-left: 30px;
}
.activateline3__bars-menu {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 900px) {
  header div.contenedor,
  header div.contenedor ul,
  header div.contenedor ul li {
    display: inline;
  }
  header div.contenedor nav {
    width: 100%;
    display: inline;
  }
}
@media only screen and (max-width: 1000px) {
  header h1 {
    margin: 0;
  }
  header h1 a {
    padding: 0;
  }
  header div.contenedor {
    display: flex;
    place-content: space-between;
  }
  #menu-check:not(:checked) ~ nav {
    display: none;
  }
  #menu-check:checked ~ nav {
    display: block;
  }
  #menu {
    display: block;
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 1.4em;
    right: 3em;
    z-index: 20;
  }
  header div.contenedor nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  nav ul {
    position: absolute;
    top: 100px;
    right: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background: #010c26;
  }
  .logo_wrapper {
    z-index: 20;
  }
  nav li {
    padding-top: 35px;
    padding-bottom: 65px;
  }
  nav li a {
    font-size: 250%;
    font-weight: 600;
    padding-bottom: 2px;
  }
}

/*FOOTER*/
@media screen and (max-width: 1100px) {
  footer section {
    display: none;
  }
  footer div {
    display: none;
  }
  footer button {
    display: none;
  }
}

.submenu {
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  height: 160px;
  margin-left: -145px;
  margin-top: 0px;
  background: rgba(56, 197, 202, 0.301);
  border: 1px solid #00ffff;
  border-radius: 8px;
}
.submenu a {
  margin-top: 26.5px;
  padding-bottom: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.link-submenu:hover .submenu {
  display: block;
}
@media screen and (max-width: 1000px) {
  .submenu {
    position: absolute;
    width: 375px;
    height: 500px;
    margin-top: 45%;
    margin-right: 50%;
    transform: translate(50%, -50%);
    background: rgb(0, 52, 73);
    box-shadow: 0 0 120px #00ffff;
  }
  .submenu a {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
